.hover{

    text-decoration: none;
    color : #0a0606;
    
}
.card{

    box-shadow : 1px 1px 8px 0 gray;
    padding : 60px 30px 60px 30px;
    margin : 6px 6px 6px 6px;
    height: 100%;
    width:100%;
   
   }
.card:hover{
   
       box-shadow : 1px 1px 16px 0 rgb(118, 97, 236);
       padding : 60px 30px 60px 30px;
       margin : 6px 6px 6px 6px;
       height: 100%;
 }
 .bottom{
    background: #051B35 none repeat scroll 0 0;
    height: 5px;
    width: 100px;
    margin: -2rem auto 0 ;
    margin-bottom: 3rem;
   
   
   }