.footer{

  background-color: rgb(12, 2, 32) ;
  margin-top: 5rem;
  width: 100%;
  
  
}
.footerD{
  
  color: aliceblue;
  margin-top: 1rem;
  font-family: "Raleway" ,sans-serif;
  font-size: 15px;
  font-weight: 400;
 
 }

.footerName{

 color: aliceblue;
 margin-top: 1rem;
 font-family:"Raleway",sans-serif ;
 font-size: 22px ;
 font-weight: 600 ;


}
a.social{
  margin : 2rem;
  transition: 250ms;
  display : inline-block;
  color :azure;
}
